.container {
  height: 600px;
  width: 600px;
}

.title {
  background-color: #ffc107;
  display: inline-block;
  height: 20px;
  width: 554px;
  padding: 5px;
}

.first-column, .second-column, .third-column {
  float: left;
  height: 450px;
  padding: 4px;
  text-align: center;
}

.first-column p, .third-column p{
  text-align: justify;
  padding: 5px;
}

.second-column p {
  text-align: justify;
  padding: 9px;
}

.first-column {
	width: 150px;
}

.second-column {
	width: 243px;
}

.third-column{
	width: 146px;
}

.base {
  background-color: #ffc107;
  display: inline-block;
  height: 20px;
  width: 554px;
  padding: 5px;
}

.pic-1 {
  width: 140px;
  height: 180px;
  float: left;
}

.pic-2 {
  width: 140px;
  height: 140px;
  float: right;
}

.title, .base {
  text-align: center;
}

.title, .first-column, .second-column, .third-column, .base {
  border: 1px solid #000;
}

.second-column, .third-column {
  border-left: 0;
}

.first-column, .second-column, .third-column {
  border-top: 0;
  border-bottom: 0;
}
